﻿<!-- ko with: NetPresentValueConfig -->
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-bind="text: InitialValue"></h5>
                <h6 class="card-subtitle text-muted">Initial Value</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-bind="text: CashFlow"></h5>
                <h6 class="card-subtitle text-muted">Cashflow</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-bind="text: Years"></h5>
                <h6 class="card-subtitle text-muted">Year/s</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-bind="text: LowerBoundDiscountRate"></h5>
                <h6 class="card-subtitle text-muted">Lower Bound</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-bind="text: UpperBoundDiscountRate"></h5>
                <h6 class="card-subtitle text-muted">Upper Bound</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"data-bind="text: Increment"></h5>
                <h6 class="card-subtitle text-muted">Increment</h6>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->