﻿<form data-bind="submit: Calculate" novalidate>
    <!-- ko with: Model -->
    <div class="form-row">
        <div class="col">
            <input type="text" data-bind="textInput: InitialValue" class="form-control" placeholder="Initial Value">
        </div>
        <div class="col">
            <input type="text" data-bind="textInput: Cashflow" class="form-control" placeholder="Cashflow">
        </div>
        <div class="col">
            <input type="text" data-bind="textInput: Years" class="form-control" placeholder="Year">
        </div>
        <div class="col">
            <input type="text" data-bind="textInput: LowerBoundDiscountRate" class="form-control" placeholder="Lower Bound">
        </div>
        <div class="col">
            <input type="text" data-bind="textInput: UpperBoundDiscountRate" class="form-control" placeholder="Upper Bound">
        </div>
        <div class="col">
            <input type="text" data-bind="textInput: Increment" class="form-control" placeholder="Increment">
        </div>
        <button type="submit" class="btn btn-outline-primary">Calculate</button>
    </div>
    <!-- /ko -->
</form>