﻿<div class="col-md-4 npv-result">
    <h6>Net Present Values</h6>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Discount Rate</th>
                <th scope="col">Net Present Value</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: NetPresentValueConfig().NetPresentValues">
            <tr>
                <td data-bind="text: DiscountRate"></td>
                <td data-bind="text: Amount"></td>
            </tr>
        </tbody>
    </table>
</div>
