﻿<div class="col-md-8 npv-result">
    <h6>Previous Configurations</h6>
    <table class="table table-bordered" id="npv-configurations">
        <thead class="thead-light">
            <tr>
                <th>Initial Value</th>
                <th>Cashflow</th>
                <th>Year/s</th>
                <th>Lower Bound</th>
                <th>Upper Bound</th>
                <th>Increment</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: NetPresentValueConfigs">
            <tr data-bind="click: $parent.Select.bind($parent)">
                <td data-bind="text: initialValue"></td>
                <td data-bind="text: cashFlow"></td>
                <td data-bind="text: years"></td>
                <td data-bind="text: lowerBoundDiscountRate"></td>
                <td data-bind="text: upperBoundDiscountRate"></td>
                <td data-bind="text: increment"></td>
            </tr>
        </tbody>
    </table>
</div>
