﻿<h3>Net Present Value Calculator</h3>
<hr />
@Html.Partial("_Form")
@Html.Partial("_Configuration")
<div class="row mt-2">
    @Html.Partial("_NetPresentValues")
    @Html.Partial("_PreviousConfigurations")
</div>

@section scripts {
    @Scripts.Render("~/bundles/home")
}