﻿body {
    padding: 10px 20px;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#npv-configurations tbody tr:hover {
    background-color: lightgray;
    cursor: pointer;
}

#npv-configurations tr.selected {
    background-color: #28a745 !important;
    color: white !important;
}

.npv-result {
    max-height: 420px;
    overflow-y: auto;
}

